<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lyl.mapper.StudentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lyl.entity.Student">
        <id column="sid" property="sid" />
        <result column="sname" property="sname" />
        <result column="sex" property="sex" />
        <result column="birthday" property="birthday" />
        <result column="age" property="age" />
    </resultMap>

</mapper>
